body{
    margin:0;
    font-family: Arial;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color:white;
    direction: rtl;
}

.top-bar{
    padding:15px;
}

.top-bar a{
    background:white;
    color:#2575fc;
    padding:10px 15px;
    border-radius:10px;
    text-decoration:none;
    font-weight:bold;
}

.container{
    text-align:center;
    padding:20px;
}

h1{
    font-size:40px;
    margin-bottom:10px;
}

.welcome{
    background: rgba(255,255,255,0.15);
    padding:20px;
    border-radius:15px;
    margin:20px auto;
    width:70%;
    font-size:20px;
    backdrop-filter: blur(10px);
}

.grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
    padding:20px;
}

.week{
    background:white;
    color:#2575fc;
    padding:25px;
    border-radius:20px;
    font-size:22px;
    cursor:pointer;
    transition:0.3s;
    box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

.week:hover{
    transform:scale(1.05);
}

.locked{
    background:#ddd;
    color:#666;
}