<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
<meta charset="UTF-8">
<title>حسابات الأولياء</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/specialist.css') }}">
</head>
<body>

<a class="back-btn" href="{{ url_for('specialist_analysis') }}">رجوع</a>

<section class="data-page">
<h1>👨‍👩‍👧 حسابات الأولياء المسجلين</h1>
<p class="counter">عدد الحسابات: 3</p>

<div class="info-grid">
    <div class="info-card">
        <h3>سالم محمد</h3>
        <p>ولي الطفل: آدم  سالم</p>
        <p>الهاتف: 44 83 22 0550</p>
        <p>البريد: salemmohamed@gmail.com</p>
        <p>العنوان: مستغانم</p>
    </div>

    <div class="info-card">
        <h3>مراد فاطمة</h3>
        <p>ولية الطفلة: ليان دربوز</p>
        <p>الهاتف: 95 66 52 0777</p>
        <p>البريد: fatimamorad@gmail.com</p>
        <p>العنوان: وهران</p>
    </div>

    <div class="info-card">
        <h3>قادري أمين</h3>
        <p>ولي الطفل: يوسف قادري</p>
        <p>الهاتف: 88 25 66 0690</p>
        <p>البريد: aminekadri@gmail.com</p>
        <p>العنوان: الجزائر</p>
    </div>
</div>
</section>

</body>
</html>